html {
    border-left: 5px solid lightgray;
}


body {
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
}


/* Padding to prevent margin collapse */
header,
main,
footer {
    padding: 1rem 2rem;
}


/* Site title */
h1 {
    color: tomato;
}


/* Images */
img {
    width: 100%;
}


/* Navigation */

ul {
    padding: 0;
    list-style-type: none;
}


/* Top navigation */

.main-nav {
    display: flex;
    justify-content: space-between;
}


.main-nav a {
    color: lightgray;
}


/* Blog posts */

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}


/* Blog post titles */

article h2 {
    font-size: 2.5rem;
}


/* Continues link */

.continue {
    display: block;
    text-align: right;
    font-weight: bold;
    color: tomato;
}



/* Drop cap */

article p::first-letter {
    color: lightgray;
    font-size: 3rem;
}


/* Footer navigation */

.footer-nav {
    display: flex;
}


.footer-nav a {
    color: tomato;
}


/* Copyright */

footer p {
    color: lightgray;
}